/*调整主题样式适应中文字体*/
body {
  font-family: Hiragino Sans GB, Microsoft Yahei, SimSun, Helvetica, Arial, Sans-serif;
  /*font-family: "Microsoft Yahei",Tahoma,"Lucida Grande",Verdana,STXihei,hei;*/ 
}
a {
	cursor: pointer;
}
body .container.body .right_col {
	margin-bottom: 49px !important;
}
.btn {
	padding: 4px 12px;
}
.back-orange {
	background: #FF6600 !important;
}
.back-green {
	background: #1abb9c !important;
}
.main_menu .fa {
	float: left;
	margin-top: 1px;
}
.active a span.fa {
	margin-top: 4px;
}
.toggle {
	width: auto;
}
.toggle .page-title {
	display: inline-block;
  font-size: 20px;
  float: right;
  line-height: 26px;
  width: auto;
  height: auto;
  padding: 0;
}
.toggle a i {
  font-size: 28px;
}
.toggle a.page-title-info {
	float: right;
  padding: 0 0 0 5px;
}
.toggle a.page-title-info i {
	font-size: 20px;
  margin-top: 4px;
}
.top_nav .navbar-right {
	width: auto;
}
.popover-content {
  font-family: "Microsoft Yahei",Tahoma,"Lucida Grande",Verdana,STXihei,hei;
}
.tips {
	display: inline-block;
  margin: 0 0 0 10px;
  color: #9e9e9e;
  font-size: 12px;
}
.toggle .tips {
  float: right;
  line-height: 28px;
}

/*头部数据刷新时间*/
.data-refresh-time {
	float: right;
	display: inline-block;
  line-height: 57px;
}
.refresh-data {
	float: right;
	display: inline-block;
  line-height: 57px;
  color: #00b390;
  margin: 0 5px 0px 15px;
  cursor: pointer;
}
/*echart模块*/
.chart-panel {
	margin-bottom: 10px;
	padding: 5px 15px;
	position: relative;
	background: #FFFFFF;
}
.chart-panel:before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 46px;
	background: #1ABB9C;
	position: absolute;
	left: 0;
	top: 0;
}
.chart-panel.no-title-panel:before {
  display: none;
}
.chart-panel .chart-title {
  line-height: 36px;
  font-size: 16px;
  margin-bottom: 10px;
}
.xsmall-chart {
	height: 60px;
}
.middle-chart {
	height: 300px;
}
.large-chart {
	height: 400px;
}
.xlarge-chart {
	height: 700px;
}
/*会员漏斗消费会员百分比*/
.custom-user-percent {
	display: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 0 10px;
	background: #E74C3C;
	color: #FFFFFF;
	border-radius: 5px;
}

.chart-header {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 31px;
}
.chart-header .tips-icon {
	display: inline-block;
}
.chart-header .chart-header-text {
	line-height: 31px;
	display: inline-block;
	float: left;
}

.daterangepicker {
	width: 290px;
}
@media (min-width: 564px){
	.daterangepicker {
	  width: auto;
	}
}
.daterangepicker .calendar {
	max-width: 284px;
}
.date-range-selecter {
	display: inline-block;
}
.date-range-selecter>span {
	display: inline-block;
	float: left;
	line-height: 31px;
}
.date-range-selecter>div {
	background: #fff;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #ccc;
  width: 200px;
  line-height: 19px;
}
.date-range-selecter>div i.fa-calendar {
  float: left;
  margin: 2px 5px 0 0;
}
.date-range-selecter>div .caret {
  float: right;
  margin: 8px 0 0 5px;
}
.chart-tabs {
	display: inline-block;
	line-height: 31px;
}
.chart-tabs>span {
  display: inline-block;
  padding: 0px 15px;
  border-right: 1px solid #ddd;
  line-height: 17px;
  float: left;
  margin: 7px 0;
  cursor: pointer;
}
.chart-tabs>span.active {
	color: #1ABB9C;
}
.chart-tabs>span:last-child {
	border-right: 0;
}
.table-search {

}
.table-search .reset-search {
	float: right;
  line-height: 34px;
  margin: 0 10px 0 0;
}
.table-search .btn-search {
	float: right;
	margin: 2px 0;
}
.table-search .tips {
	margin: 0 0 10px 0;
}

/* 优惠券分析头部表格 */
.coupon-total-section {
  text-align: center;
}
.coupon-total-section .row {
  margin: 15px 0;
}
.coupon-total-section .row .pull-right {
  font-size: 16px;
}
.coupon-total-section .section-title {
  font-size: 16px;
}
.coupon-total-section .section-title .pull-right {
  font-size: 14px;
}
.coupon-total-section .section-title .title-text {

}
.coupon-total-section .section-title .section-title-info {

}
.return-order-info {

}
.return-order-info h3 {
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 20px;
}
.return-order-info h4 {
  font-size: 30px;
  margin-bottom: 30px;
}
.return-order-info p {
  margin-left: 15px 0;
}
.return-order-info .large-chart {
  height: 300px;
}


.icheckbox_flat-green, .iradio_flat-green {
  width: 16px;
  height: 16px;
  background-size: auto 17px;
}
.icheckbox_flat-green.checked {
  background-position: -17px 0;
}
.iradio_flat-green {
  background-position: -68px 0;
}
.iradio_flat-green.checked {
  background-position: -85px 0;
}
.status-tag {
  display: inline-block;
  background: #dddddd;
  color: #ffffff;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 18px;
  margin-left: 10px;
}
.footer_fixed footer {
  z-index: 9;
}
.nav-md .container.body .col-md-3.left_col.menu_fixed {
  z-index: 10;
}
