/*调整主题样式适应中文字体*/
body {
  font-family: "Microsoft Yahei",Tahoma,"Lucida Grande",Verdana,STXihei,hei;
}
a {
	cursor: pointer;
}
body .container.body .right_col {
	margin-bottom: 49px;
}
.main_menu .fa {
	float: left;
	margin-top: 1px;
}
.active a span.fa {
	margin-top: 4px;
}
.toggle {
	width: auto;
}
.toggle .page-title {
	display: inline-block;
  font-size: 20px;
  float: right;
  line-height: 26px;
  width: auto;
  height: auto;
  padding: 0;
}
.toggle a i {
  font-size: 28px;
}
.toggle a.page-title-info {
	float: right;
  padding: 0 0 0 5px;
}
.toggle a.page-title-info i {
	font-size: 20px;
  margin-top: 4px;
}
.top_nav .navbar-right {
	width: auto;
}
.popover-content {
  font-family: "Microsoft Yahei",Tahoma,"Lucida Grande",Verdana,STXihei,hei;
}
.tips {
	display: inline-block;
  margin: 0 0 0 10px;
  color: #9e9e9e;
  font-size: 12px;
}
.toggle .tips {
  float: right;
  line-height: 28px;
}

/*头部数据刷新时间*/
.data-refresh-time {
	float: right;
	display: inline-block;
  line-height: 57px;
}
.refresh-data {
	float: right;
	display: inline-block;
  line-height: 57px;
  color: #00b390;
  margin: 0 5px 0px 15px;
  cursor: pointer;
}
/*echart模块*/
.chart-panel {
	margin-bottom: 10px;
	padding: 0 15px;
	position: relative;
	background: #FFFFFF;
}
.chart-panel:before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 36px;
	background: #1ABB9C;
	position: absolute;
	left: 0;
	top: 0;
}
.chart-panel .chart-title {
  line-height: 36px;
  font-size: 16px;
  margin-bottom: 10px;
}
.xsmall-chart {
	height: 60px;
}
.middle-chart {
	height: 300px;
}
.large-chart {
	height: 400px;
}
.custom-user-percent {
	display: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 0 10px;
	background: #E74C3C;
	color: #FFFFFF;
	border-radius: 5px;
}
